body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ff0000;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  color: #ffffff;
  font-family: "Special Elite", serif;
  margin-bottom: 20px;
  font-size: 2em;
}

#score-board {
  font-family: "Special Elite", serif;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  gap: 10px;
}

button {
  margin-top: 20px;
  font-family: "Special Elite", serif;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  box-shadow: -1px 0px 98px 4px rgba(10,10,10,0.75);
-webkit-box-shadow: -1px 0px 98px 4px rgba(10,10,10,0.75);
-moz-box-shadow: -1px 0px 98px 4px rgba(10,10,10,0.75);
  background-color: red;
  color: white;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 10px;
}

.card {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: relative;
}

.card:hover {
  transform: scale(1.1);
}

.card::before {
  content: '';
  width: 60%;
  height: 60%;
  background-color: #ff0000;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 20%;
}

.card.flipped::before {
  display: none;
}

.card img {
  max-width: 100%;
  max-height: 100%;
  display: none;
  border-radius: 8px;
}

.card.flipped img {
  display: block;
}

@media (max-width: 600px) {
  .game-board {
      grid-template-columns: repeat(3, 100px);
      grid-gap: 10px;
  }
}

#restart-button {
  margin-bottom: 20px;
}
